@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(94, 93, 93);
    
}

/*menu-----------------------------------------------------------------------------------------------------*/



nav{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #000;
    height: 120px;
}

.menu{
    display: flex;
    gap: 20px;
    margin-right:10px ;
}


.a-menu{
   
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    
}

img{
    height:123px ;
}

.a-menu:hover{
    color:  rgb(97, 93, 93);
}

.title{
    text-align: center;
    align-items: center;
    text-shadow: 4px 4px 8px rgb(0, 0, 0);
    letter-spacing: 4px;
    color: #fff;
    font-size: 30px;
    margin-top: 80px;
}

/*Conteudo---------------------------------------------------------------------------------------------------------*/
.caixa-branca-mustang{
    background-color: #fff;
    width: 70%;
    height: 750px;
    margin-left: 50px;
    margin-top: 200px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #000;
    
}

.container-display-mustang{
    display: flex;
    
}

.imagens-mustang{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    
}

.img-mustang{
    width: 480px;
    height: 300px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #000;
    
}

.title-mustang{
    font-family: 'Inter', sans-serif;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    color: #000;
    font-size: 35px;
}

.caixa-text-mustang{
    margin-left: 70px;
    margin-top: 70px;
}

.text-mustang{
    font-family: 'Inter', sans-serif;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 25px;
}



.buttons-mustang{
margin-top: 260px;
margin-left: 125px;
border-radius: 10px;
}

.buttons-a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    border:1px solid gray;
    color: #fff;
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 20px;
    background: #000;
    transition: 0.7s;

}

.buttons-a:hover{
    background: rgb(49, 49, 49);
}

.input-Number-mustang{
    margin-top: 30px;
    margin-left: 133px;
}

input{
    padding: 10px 20px;
    border: 1px solid gray;
    color: #fff;
    background: #000;
    border-radius: 10px;
}

::placeholder{
    color: #fff;
}

/*civic----------------------------------------*/

.caixa-branca-civic{
    background-color: #fff;
    width: 70%;
    height: 750px;
    margin-left: 370px;
    margin-top: 200px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #000;
    
}

.container-display-civic{
    display: flex;
    
}

.imagens-civic{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    
}

.img-civic{
    width: 480px;
    height: 300px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #000;
    margin-right: 22px;
    
}

.title-civic{
    font-family: 'Inter', sans-serif;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    color: #000;
    font-size: 35px;
}

.caixa-text-civic{
    margin-left: 70px;
    margin-top: 70px;
}

.text-civic{
    font-family: 'Inter', sans-serif;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 25px;
}



.buttons-civic{
margin-top: 260px;
margin-left: 125px;
border-radius: 10px;
}

.buttons-a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    border:1px solid gray;
    color: #fff;
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 20px;
    background: #000;
    transition: 0.7s;

}

.buttons-a:hover{
    background: rgb(49, 49, 49);
}

.input-Number-civic{
    margin-top: 30px;
    margin-left: 133px;
}

input{
    padding: 10px 20px;
    border: 1px solid gray;
    color: #fff;
    background: #000;
    border-radius: 10px;
}

::placeholder{
    color: #fff;
}


/*audir8-----------------------------------------*/

.caixa-branca-audir8{
    background-color: #fff;
    width: 70%;
    height: 750px;
    margin-left: 50px;
    margin-top: 200px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #000;
    
}

.container-display-audir8{
    display: flex;
    
}

.imagens-audir8{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    
}

.img-audir8{
    width: 480px;
    height: 300px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #000;
    
}

.title-audir8{
    font-family: 'Inter', sans-serif;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    color: #000;
    font-size: 35px;
}

.caixa-text-audir8{
    margin-left: 70px;
    margin-top: 70px;
}

.text-audir8{
    font-family: 'Inter', sans-serif;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 25px;
}



.buttons-audir8{
margin-top: 260px;
margin-left: 125px;
border-radius: 10px;
}

.buttons-a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    border:1px solid gray;
    color: #fff;
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 20px;
    background: #000;
    transition: 0.7s;

}

.buttons-a:hover{
    background: rgb(49, 49, 49);
}

.input-Number-audir8{
    margin-top: 30px;
    margin-left: 133px;
}

input{
    padding: 10px 20px;
    border: 1px solid gray;
    color: #fff;
    background: #000;
    border-radius: 10px;
}

::placeholder{
    color: #fff;
}

/*porsche----------------------------------------------*/

.caixa-branca-porsche{
    background-color: #fff;
    width: 70%;
    height: 750px;
    margin-left: 370px;
    margin-top: 200px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #000;
    
}

.container-display-porsche{
    display: flex;
    
}

.imagens-porsche{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    
}

.img-porsche{
    width: 480px;
    height: 300px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #000;
    margin-right: 22px;
    
}

.title-porsche{
    font-family: 'Inter', sans-serif;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    color: #000;
    font-size: 35px;
}

.caixa-text-porsche{
    margin-left: 70px;
    margin-top: 70px;
}

.text-porsche{
    font-family: 'Inter', sans-serif;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 25px;
}



.buttons-porsche{
margin-top: 260px;
margin-left: 125px;
border-radius: 10px;
}

.buttons-a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    border:1px solid gray;
    color: #fff;
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 20px;
    background: #000;
    transition: 0.7s;

}

.buttons-a:hover{
    background: rgb(49, 49, 49);
}

.input-Number-porsche{
    margin-top: 30px;
    margin-left: 133px;
}

input{
    padding: 10px 20px;
    border: 1px solid gray;
    color: #fff;
    background: #000;
    border-radius: 10px;
}

::placeholder{
    color: #fff;
}

/*bmwi8-----------------------------------------*/


.caixa-branca-bmwi8{
    background-color: #fff;
    width: 70%;
    height: 750px;
    margin-left: 50px;
    margin-top: 200px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #000;
    
}

.container-display-bmwi8{
    display: flex;
    
}

.imagens-bmwi8{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    
}

.img-bmwi8{
    width: 480px;
    height: 300px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #000;
    
}

.title-bmwi8{
    font-family: 'Inter', sans-serif;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    color: #000;
    font-size: 35px;
}

.caixa-text-bmwi8{
    margin-left: 70px;
    margin-top: 70px;
}

.text-bmwi8{
    font-family: 'Inter', sans-serif;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 25px;
}



.buttons-bmwi8{
margin-top: 260px;
margin-left: 125px;
border-radius: 10px;
}

.buttons-a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    border:1px solid gray;
    color: #fff;
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 20px;
    background: #000;
    transition: 0.7s;

}

.buttons-a:hover{
    background: rgb(49, 49, 49);
}

.input-Number-bmwi8{
    margin-top: 30px;
    margin-left: 133px;
}

input{
    padding: 10px 20px;
    border: 1px solid gray;
    color: #fff;
    background: #000;
    border-radius: 10px;
}

::placeholder{
    color: #fff;
}



/*Footer-----------------------------------------------------------------------------------------------------------------*/

svg{
    height: 35px;
}

.icons{
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
margin-top: 30px;


}


footer{
padding: 5px 0px;
margin-top: 200px;
background: rgb(223, 213, 213);


}

.info{

display: block;
text-align: center;
margin-top: 50px;
font-weight: 700;
font-family: 'Inter', sans-serif;
}

.info-support-marketing, .privacy, .data{
margin: 20px 0px
}

.data{
color: rgb(114, 114, 114);
}
